# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:password123@localhost:5435/student_dashboard?schema=public"

# Authentication Secret for Admin Panel
JWT_SECRET="super_secret_jwt_key_2026_excel_to_dashboard"

# Public App URL (For production / Vercel)
NEXT_PUBLIC_APP_URL="http://localhost:3001"
